<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Testador de Webhook</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="/main.js"></script>
</head>
<body>
<p>
    <span th:text="#{label.instructions(${baseUrl})}+': '"/>
    <a class="header-a" th:href="${baseUrl}+'fire/abc/123'" th:text="#{label.example}" target="_blank"/>
</p>

<form id="options" action="/" th:object="${attributes}" method="get">
    <div class="options">
        <span th:text="#{label.show} + ': '"/>
        <div class="custom-select">
            <select id="tamanho" name="tamanho" th:field="${attributes.size}" onchange="this.form.submit()">
                <option th:each="i : ${sizes}" th:value="${i}" th:text="${i}"></option>
            </select>
        </div>
        <label class="checkbox" th:checked="${attributes.url}">
            <span th:text="#{label.url}"/>
            <input type="checkbox" th:field="${attributes.url}" name="url" onchange=this.form.submit()>
        </label>
        <label class="checkbox" th:checked="${attributes.metodo}">
            <span th:text="#{label.method}"/>
            <input type="checkbox" th:field="${attributes.metodo}" name="metodo" onchange=this.form.submit()>
        </label>
        <label class="checkbox" th:checked="${attributes.body}">
            <span th:text="#{label.body}"/>
            <input type="checkbox" th:field="${attributes.body}" name="body" onchange=this.form.submit()>
        </label>
        <label class="checkbox" th:checked="${attributes.headers}">
            <span th:text="#{label.headers}"/>
            <input type="checkbox" th:field="${attributes.headers}" name="headers" onchange=this.form.submit()>
        </label>
        <label class="checkbox" th:checked="${attributes.origem}">
            <span th:text="#{label.origin}"/>
            <input type="checkbox" th:field="${attributes.origem}" name="origem" onchange=this.form.submit()>
        </label>
        <label class="checkbox" th:checked="${attributes.hora}">
            <span th:text="#{label.time}"/>
            <input type="checkbox" th:field="${attributes.hora}" name="hora" onchange=this.form.submit()>
        </label>
    </div>
</form>
<table th:if="${attributes.any}">
    <thead>
    <tr>
        <th th:if="${attributes.url}" th:text="#{label.url}"/>
        <th th:if="${attributes.metodo}" th:text="#{label.method}"/>
        <th th:if="${attributes.body}" th:text="#{label.body}"/>
        <th th:if="${attributes.headers}" th:text="#{label.headers}"/>
        <th th:if="${attributes.origem}" th:text="#{label.origin}"/>
        <th th:if="${attributes.hora}" th:text="#{label.time}"/>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${hooks.empty}">
        <td th:colspan="${attributes.colCount}">Nenhum registro</td>
    </tr>
    <tr th:each="hook : ${hooks}">
        <td th:if="${attributes.url}"><span th:text="${hook.destino}"/></td>
        <td th:if="${attributes.metodo}"><span th:text="${hook.metodo}"/></td>
        <td th:if="${attributes.body}"><span th:utext="${hook.body}"/></td>
        <td th:if="${attributes.headers}"><span th:text="${hook.headers}"/></td>
        <td th:if="${attributes.origem}"><a th:href="#{url.ip-address-location(${hook.origem})}"
                                            th:text="${hook.origem}" target="_blank"/></td>
        <td th:if="${attributes.hora}"><span th:text="${hook.hora}"/></td>
    </tr>
    </tbody>
</table>

<div class="footer-area">

</div>
<div class="footer">
    <p th:text="#{footer.autor}"></p>
    <p><span th:text="#{footer.fonte} "></span>
        <a class="footer-a" th:href="#{footer.github.url}" th:text="Github" target="_blank"></a>
    </p>
</div>
</body>

</html>